---
import data from "../json/json1.json";
console.log(data);
console.log(typeof data);
const title = "json 1";
---

<html lang="en">

<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">
<title>{title}</title>
</head>

<body>
<h1>{title}</h1>

<p>Check out your editor console.</p>

<h2>data</h2>
<pre>
{data}
</pre>

<h2>stringified JSON</h2>
<pre>
{(JSON.stringify(data, null, 2))}
</pre>

</body>

</html>
